/**
    Author: Evgeniy Andrikanich (https://fls.guru)
    Source: https://www.youtube.com/watch?v=eaOAY0vIB4U

    Mixin for adaptive calculation of CSS propeties.
*/
@mixin adaptive-value($property, $from, $to, $type) {
    $add: $from - $to;

    /**
        type ("lower"|"greater"): Applies when screen size is lower or greater
            than container max width.
    */
    @if $type == "lower" {
        #{$property}: $from + px;
        @media (max-width: #{$containerWidth + px}) {
            #{$property}: calc(#{$to + px} + #{$add} * (100vw - 320px) / #{$containerWidth - 320});
        }
    } @else if $type == "greater" {
        #{$property}: $from + px;
        @media (min-width: #{containerWidth + px}) {
            #{$property}: calc(#{$to + px} + #{$add} * (100vw - 320px) / #{$layoutWidth - 320});
        }
    } @else {
        #{$property}: calc(#{$to + px} + #{$add} * (100vw - 320px) / #{layoutWidth - 320});
    }
}
